@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Roboto:wght@500&family=Rubik&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
}

.slick-prev,
.slick-next {
  font-size: 30px; /* Adjust the size as needed */
  color: black;
  z-index: 0;
}

.slick-prev {
  left: -125px; /* Adjust the position as needed */
}

.slick-next {
  right: -15px; /* Adjust the position as needed */
}

  